/* Style.css */

.sidebar {
    -fx-background-color: #2F4F4F;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 10;
}

.sidebar-button:hover {
    -fx-background-color: #3A5F5F;
    -fx-border-color: #FFA500;
    -fx-text-fill: #FFA500;
    -fx-cursor: hand;
}

.icon {
    -fx-fill: white;
    -fx-font-size: 1.8em;
    -fx-padding-right: 10px;
}

.icon:hover {
    -fx-fill: #FFA500;
    -fx-cursor: hand;
}

.active-button {
    -fx-text-fill: #FFA500;
    -fx-border-color: #FFA500;
    -fx-background-color: #3A5F5F;
}

.active-icon {
    -fx-fill: #FFA500;
}

.search-box{
    -fx-background-color: #FFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #FFA500;
    -fx-background-radius: 30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.comboBox{
    -fx-background-color: #ffa60056;
    -fx-background-radius: 30;
    -fx-font-family: "Thonburi";
    -fx-font-size: 14px;
}

.table-view {
    -fx-background-color: #f0f0f0; /* Color de fondo */
}

.table-view .column-header-background {
    -fx-background-color: #FFA500; /* Color de fondo de las cabeceras de columna */
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent; /* Fondo transparente para las cabeceras */
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff; /* Color de fondo de las celdas */
    -fx-padding: 0.2em 0.5em; /* Padding interno de las celdas */
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f8f8f8; /* Color de fondo alternativo para filas impares */
}

.table-view .table-row-cell:selected {
    -fx-background-color: #0078d7; /* Color de fondo cuando está seleccionada una fila */
    -fx-text-fill: white; /* Color del texto cuando está seleccionada una fila */
}

.table-view .column-header .label {
    -fx-font-family: "Thonburi"; /* Tipo de fuente */
    -fx-font-size: 16px; /* Tamaño de fuente de las cabeceras */
    -fx-font-weight: bold; /* Fuente en negrita para las cabeceras */
}
